
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic"
      rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic"
      rel="stylesheet" media="print" onload="this.media='all'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic"
        rel="stylesheet">
    </noscript>
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Gelasio:wght@400;500;600;700&display=swap&subset=cyrillic"
      rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Gelasio:wght@400;500;600;700&display=swap&subset=cyrillic"
      rel="stylesheet" media="print" onload="this.media='all'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Gelasio:wght@400;500;600;700&display=swap&subset=cyrillic"
        rel="stylesheet">
    </noscript>
    <link rel='stylesheet' src='..static/css/style.css'> 
    <title>Travland</title>
  </head>
  <body>
    <header class="main-header">
      <!— Header сайта —>
      <div class="container">
        <div class="header__wrapper">
          <img class="logo__img" src="..static/img/logo.png" alt="logo">
          <nav class='navigation'>
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link" href="">Home</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">Location</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">Blog</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">About</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">Contact</a>
              </li>
            </ul>
          </nav>
          <button class="header__button" href='#'>Booking now</button>
        </div>
      </div>
    </header>
    <main>
      <!— Основное содержимое страницы —>
      <div class="hero">
        <div class="container">
          <h1 class="hero__title">Railtrips To Here, There And Everywhere!</h1>
          <p class="hero__description">
            We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.
          </p>
          <button class='hero-button' href=''>
            Explore more
          </button>
        </div>
      </div>
      <div class="main-block__locations">
        <div class="locations__description-wrapper">
          <h2 class="locations__title">Popular Location</h2>
          <p class="locations__description">For every one of us, travel came first. We’ve spent years living as nomads, pioneers, and voyagers— from island hopping in the</p>
        </div>
        <div class="locations__cards">
          <div class="location-card">
            <img class="location__image" src="..static/img/istambul.png" alt="">
            <h3 class="location__name">Istanbul, Turkey</h3>
            <p class="location__text">
              Istanbul is a major city in Turkey that straddles Europe. 
            </p>
          </div>
          <div class="location-card">
            <img class="location__image" src="..static/img/kuala-lumpur.png" alt="">
            <h3 class="location__name">Kuala Lumpur, malaysia</h3>
            <p class="location__text">
              A 272-step long trek leads you to this century.
            </p>
          </div>
          <div class="location-card">
            <img class="location__image" src="..static/img/seoul.png" alt="">
            <h3 class="location__name">Seoul, South Korea</h3>
            <p class="location__text">
              South Korea officially the Republic of Korea is a country in East Asia.
            </p>
          </div>
        </div>
      </div>
      <div class="main-block__blog-and-news">
        <div class="blog-and-news__description-wrapper">
          <h2 class="blog-and-news__title">From Blog & News</h2>
          <p class="blog-and-news__description">Welcome to Community Conversations, a new interview series featuring Intrepid travellers, creatives and activists in our community.
          </p>
        </div>
        <div class="blog-cards">
          <div class="blog-card__main-card">
            <img class="blog-card__main-card-image" src="..static/img/banff-np.png" alt="">
            <h3 class="blog-card__main-card-name">Banff National Park</h3>
            <p class="blog-card__main-card-text">
              Banff National Park lies in the heart of the majestic Rocky Mountains in the province of Alberta, 
              and showcases some of Canada's most beautiful scenery. Turquoise-colored lakes, snow-capped peaks, and glaciers are 
              all easily accessible
            </p>
            <a class="blog-card__main-card-author-link" href="">@thomasalva_adison</a>
          </div>
          <div class="blog-card__wrapper">
            <div class="blog-card">
              <img class="blog-card__image" src="..static/img/hiroshima.png" alt="">
              <div class="blog-card__text-wrapper">
                <h3 class="blog-card__name">The Hiroshima Peace!</h3>
                <p class="blog-card__text">
                  It was formally opened to the public in August that year.
                </p>
                <a class="blog-card__author-link" href="">@shova_bd88</a>
              </div>
            </div>
            <div class="blog-card">
              <img class="blog-card__image" src="..static/img/india.png" alt="">
              <div class="blog-card__text-wrapper">
                <h3 class="blog-card__name">The faithful prayers!</h3>
                <p class="blog-card__text">A major pilgrimage center for Hindus, the holy city.</p>
                <a class="blog-card__author-link" href="">@adem/smith</a>
              </div>
            </div>
            <div class="blog-card">
              <img class="blog-card__image" src="..static/img/Naltar.png" alt="">
              <div class="blog-card__text-wrapper">
                <h3 class="blog-card__name">Colourful waters!</h3>
                <p class="blog-card__text">Forest-driven water and energy cycles are poorly.</p>
                <a class="blog-card__author-link" href="">@jhon7leew</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    <footer class="main-footer">
      <!— Footer сайта —>
      <div class="footer__block">
        <img src="..static/img/logo_black.png" alt="logo">
        <div class="footer__socials">
          <img class="footer__social-icon" src="..static/img/facebook-icon.png" alt="facebook">
          <img class="footer__social-icon" src="..static/img/insta-icon.png" alt="instagram">
          <img class="footer__social-icon" src="..static/img/twitter-icon.png" alt="twitter">
          <img class="footer__social-icon" src="..static/img/google-icon.png" alt="google">
        </div>
        <p class="footer__contact-text">Contact us</p>
        <a class="footer__contact-link" href="">@shovasatkhira88.com</a>
      </div>
      <div class="footer__block">
            <div class="footer-navigation">
              <a class="footer-navigation__link" href="">Services</a>
              <a class="footer-navigation__link" href="">About</a>
              <a class="footer-navigation__link" href="">Our story</a>
              <a class="footer-navigation__link" href="">Benefits</a>
              <a class="footer-navigation__link" href="">Branding</a>
            </div>
      </div>
      <div class="footer__block">
            <div class="footer-navigation">
              <a class="footer-navigation__link" href="">Legal</a>
              <a class="footer-navigation__link" href="">Terms & Conditions</a>
              <a class="footer-navigation__link" href="">Privecy Policy</a>
              <a class="footer-navigation__link" href="">Terms of use</a>
            </div>
      </div>
      <div class="footer__block">
            <p class="subscribe-block__text">SUBSCRIBE NOW</p>
            <div class="subscribe-block__form">
              <form class="subscribe__form" action="">Email</form> <!— Проверить классы по БЭМу —>
              <button class="subscribe__button">Send</button>
            </div>
      </div>
      </div>
    </footer>
  </body>
</html>